*, *::after, *::before{
    box-sizing: border-box;
    font-family: monospace;
}

html, body{
    margin: 0;
    padding: 0;
}


.home {
    position: fixed;
    z-index: 10000000;
    top: 5vh;
    left: 10vw;
    color: whitesmoke;
    text-decoration: none;

    mix-blend-mode: difference;
}

.home:link, .home:visited{
    color: whitesmoke;
    text-decoration: none;
}
